.bucket1{
    height:700px;
    width:400px;
    background-color: rgb(161, 231, 231);
    
}
.bucketlist{
    background-color: greenyellow;
    width:100px;
    margin: 30px;
    padding: 20px;
    
}

.elementTransfer{
    display: flex;
    justify-content: space-around;
    margin-top:30px ;
}
.bucket2{
    height:700px;
    width:400px;
    background-color: rgb(245, 166, 92);
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons > Button{
    width:120px;
    margin: 30px;
}
