@import url("./ElementTransfer/elementTransfer.css");
@import url("./Infinite-Scroll/infiniteScroll.css");
@import url("./parent-child/parentchild.css");
@import url("./box-game/boxgame.css");
.square {
  width: 400px;
  height: 400px;
  border: solid;
  position: relative;
}

.split {
  display: flex;
  flex-wrap: wrap;
  border: solid;
}

.inner-square {
  width: 50%;
  height: 50%;
  border: solid;
}
.grid-container{
  display:flex;
  justify-content: center;
  margin-top: 30px;
}



