@import url("./ElementTransfer/elementTransfer.css");
@import url("./Infinite-Scroll/infiniteScroll.css");
@import url("./parent-child/parentchild.css");
@import url("./box-game/boxgame.css");
.square {
  width: 200px;
  height: 200px;
  border: solid;
  position: relative;
}

.split {
  display: flex;
  flex-wrap: wrap;
  border: solid;
}

.inner-square {
  width: 50%;
  height: 50%;
  border: solid;
}




